@import "../../base";

aside.aside {
    display: block;
    height: 100vh;
    width: 400px;
    max-width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 800;
    position: fixed;
    top: 0;
    transition: 0.3s ease-in-out;
    color: $color-light;
    overflow-y: scroll;

    h1:first-of-type {
        margin-top: $gutter;
        padding-top: 6px;
        padding-left: $gutter;
        padding-right: calc($gutter + 34px);
    }

    &.aside-left {
        left: 0;
        transition: 0.3s ease-in-out;

        &:not(.active) {
            transform: translateX(-100%);
        }
    }

    &.aside-right {
        right: 0;
        transition: 0.3s ease-in-out;

        &:not(.active) {
            transform: translateX(100%);
        }
    }

    &.active {
        transition: 0.3s ease-in-out;
        box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.5);
    }

    .aside-close {
        position: absolute;
        top: $gutter;
        right: $gutter;
    }
}
