// .mobile-discord-btn {
//   position: fixed;
//   display: block;
//   width: 100%;
//   left: 38%;
//   top: 95%;
// }

.btn-text-dark {
  position: sticky;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  display: inline;
  // flex-direction: column-reverse;
}
