@import "../../base";

header {
    position:        fixed;
    z-index:         100;
    top:             0;
    right:           0;
    left:            0;
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    height:          $header-height;
    background:      rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    .nav-brand.logo {
        display: inline-block;
        height:  100%;

        img {
            display: inline-block;
            width:   auto;
            height:  auto;
        }
    }
}

aside.main-menu {
    h1 {
        padding-top: 0;

        .nav-brand.logo {
            vertical-align: top;
            display:        inline-block;
            position:       absolute;
            top:            5px;
            left:           $gutter;
        }
    }

    .main-menu-contents {
        display:         flex;
        height:          100%;
        flex-direction:  column;
        overflow:        auto;
        width:           100%;
        padding:         $header-height $gutter;
        flex-wrap:       nowrap;
        justify-content: space-between;

        ul {
            list-style: none;
            width:      100%;
            margin:     0;
            padding:    0;

            li {
                margin-bottom: $gutter / 2;

                .btn {
                    width: 100%;
                }
            }
        }

        .main-menu-footer {
            display:        flex;
            flex-direction: column;
            gap:            $gutter/2;

            .group.social-icons {
                justify-content: center !important;
            }
        }
    }
}