@import "../base";

body {
    background-image:      url(../assets/stars.png);
    background-attachment: fixed;
}

.tower {
    position:       absolute;
    top:            100%;
    right:          45%;
    display:        inline-block;
    width:          55vw;
    max-width:      1000px;
    height:         auto;
    pointer-events: none;
}

@media ($mobile) {
    .tower {
        width:     60vh;
        left:      50%;
        transform: translate(-50%, -25vh);
    }
}

.section.hero .slider {
    height: 60vh;

    .slide {
        text-align: center;

        .video {
            height:        calc(100% - 80px);
            width:         auto;
            border:        none;
            margin-bottom: 16px;
            border-radius: 15px;
        }

        h3, h5 {
            white-space: break-spaces;
        }

        h3 {
            font-size:   150%;
            margin:      0;
            padding:     0;
            line-height: 32px;
        }

        h5 {
            font-size:   100%;
            font-weight: normal;
            color:       $color-light-shadow;
            margin:      0;
            padding:     0;
            line-height: 32px;
        }
    }
}

@media ($mobile) {
    .section.hero .slider {
        height: 45vh;

        .slide {
            h3, h5 {
                padding: 0 5vw;
            }
        }
    }
}