@import "../base";

body {
    background-image:      url(../assets/stars.png);
    background-attachment: fixed;
}

.page-home,
.page-home .home {
    max-height: 100vh;
    width:      100vw;
    max-width:  100vw;
    overflow:   hidden;
}

.section.hero .slider {
    height: 60vh;

    .slide {
        text-align: center;

        .video {
            height:        calc(100% - 80px);
            width:         auto;
            border:        none;
            margin-bottom: 16px;
            border-radius: 15px;
        }

        h3,
        h5 {
            white-space: break-spaces;
        }

        h3 {
            font-size:   150%;
            margin:      0;
            padding:     0;
            line-height: 32px;
        }

        h5 {
            font-size:   100%;
            font-weight: normal;
            color:       $color-light-shadow;
            margin:      0;
            padding:     0;
            line-height: 32px;
        }
    }
}

@media ($mobile) {
    .section.hero {
        bottom: 100px;
    }
    .section.hero {
        h1 {
            font-size:    230%;
            margin-left:  4px;
            margin-right: 4px;
        }

        h2 {
            font-size: 70%;
            width:     70%;
        }

        .scroll-cta {
            bottom: -25px;
        }

        .slider {
            max-height: 45vh;
        }

        .slide {
            h3,
            h5 {
                padding: 0 5vw;
            }

            h3 {
                font-size: 120%;
            }

            h5 {
                font-size: 80%;
            }
        }
    }
}

.hero-title {
    font-size:     64px;
    margin-bottom: 0;
}

.hero-tagline {
    font-size:      18px;
    padding-bottom: 1rem;
}

.hero-slidecard {
    background-color: rgba(0, 0, 0, 0.4);
    width:            fit-content;
    margin-left:      auto;
    margin-right:     auto;
    border-radius:    15px;
    padding:          5px;
    backdrop-filter:  blur(10px);
    box-shadow:       0 0 20px -5px rgba(0, 0, 0, 0.5);
}
