body {
    background-image:      url(../assets/stars.png);
    background-attachment: fixed;
}

.tower {
    display:   inline-block;
    position:  absolute;
    top:       100%;
    right:     45%;
    width:     55vw;
    max-width: 1000px;
    height:    auto;
}