@import "../base";

.row {
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;
    width:          100%;
    padding-right:  $gutter;
    padding-left:   $gutter;
}

.col {
    display:         flex;
    align-items:     flex-start;
    flex:            1 0 0;
    flex-direction:  column;
    flex-wrap:       nowrap;
    justify-content: flex-start;
}