.sectionwrapper {
    position:              relative;
    display:               block;
    clear:                 both;
    overflow:              hidden;
    width:                 100%;
    height:                auto;
    margin:                0;
    padding:               0;

    background-image:      url("../assets/mountain.svg");
    background-repeat:     no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 70vh;
    background-size:       cover;
}