@import "../base";

.section {
    position: relative;
    display:  block;
    clear:    both;
    overflow: hidden;
    width:    100%;
    height:   calc(100vh - 74px);
    margin:   0;
    padding:  0;

    color:    $color-light;

    &.hero {
        align-content:   center;
        align-items:     center;
        justify-content: center;
        text-align:      center;
        justify-items:   center;
    }
}