@import "base";

.tower {
    position:       fixed;
    top:            200vh;
    right:          45%;
    display:        inline-block;
    width:          55vw;
    max-width:      1000px;
    height:         auto;
    pointer-events: none;
    z-index:        0;
    transition:     0.25s ease-in-out;
}

@media ($mobile) {
    .tower {
        width:     60vh;
        left:      50%;
        transform: translate(-50%, -25vh);
    }
}