@import "variables";

.align-items-center {
    align-items: center !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-content-center {
    align-content: center !important;
}

.align-content-end {
    align-content: flex-end !important;
}

.align-content-start {
    align-content: flex-start !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-items-center {
    justify-items: center !important;
}

.justify-items-end {
    justify-items: flex-end !important;
}

.justify-items-start {
    justify-items: flex-start !important;
}

@media ($desktop) {
    .hidden-desktop {
        display: none !important;
    }
}

@media ($mobile) {
    .hidden-mobile {
        display: none !important;
    }
}

.margin-half {
    margin: calc($gutter / 2) !important;
}

.margin-half-top {
    margin-top: calc($gutter / 2) !important;
}

.margin-half-bottom {
    margin-bottom: calc($gutter / 2) !important;
}

.margin-half-left {
    margin-left: calc($gutter / 2) !important;
}

.margin-half-right {
    margin-right: calc($gutter / 2) !important;
}

.margin {
    margin: $gutter !important;
}

.margin-top {
    margin-top: $gutter !important;
}

.margin-bottom {
    margin-bottom: $gutter !important;
}

.margin-left {
    margin-left: $gutter !important;
}

.margin-right {
    margin-right: $gutter !important;
}

.padding-half {
    padding: calc($gutter / 2) !important;
}

.padding-half-top {
    padding-top: calc($gutter / 2) !important;
}

.padding-half-bottom {
    padding-bottom: calc($gutter / 2) !important;
}

.padding-half-left {
    padding-left: calc($gutter / 2) !important;
}

.padding-half-right {
    padding-right: calc($gutter / 2) !important;
}

.padding {
    padding: $gutter !important;
}

.padding-top {
    padding-top: $gutter !important;
}

.padding-bottom {
    padding-bottom: $gutter !important;
}

.padding-left {
    padding-left: $gutter !important;
}

.padding-right {
    padding-right: $gutter !important;
}


.form {
    display:        flex;
    flex-direction: column;

    &.form-centered {
        justify-items:   center;
        justify-content: center;
        align-items:     center;
    }
}

.display-none {
    display: none !important;
}