@import "base";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");

body {
    margin:                  0;
    font-family:             $font-default;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;

    &, & * {
        box-sizing: border-box;
        image-rendering: pixelated;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
                 monospace;
}