$header-height:          74px;

$mobile:                 "max-width: 1149px";
$desktop:                "min-width: 1150px";

$page-padding-top:       $header-height;
$gutter:                 1.5rem;

$font-default:           "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$color-primary:          #a8ff4f;
$color-primary-dark:     #86cc3f;
$color-primary-shadow:   #5d9623;

$color-secondary:        #8041ff;
$color-secondary-dark:   #6634cc;
$color-secondary-shadow: #372163;

$color-default:          #f802d0;
$color-default-dark:     #c800b4;
$color-default-shadow:   #8c0072;

$color-success:          #00ff00;
$color-success-dark:     #00cc00;
$color-success-shadow:   #009900;

$color-warning:          #ffaa00;
$color-warning-dark:     #cc8800;
$color-warning-shadow:   #996600;

$color-danger:           #ff0000;
$color-danger-dark:      #cc0000;
$color-danger-shadow:    #990000;

$color-info:             #00ffff;
$color-info-dark:        #00cccc;
$color-info-shadow:      #009999;

$color-light:            #ffffff;
$color-light-dark:       #cccccc;
$color-light-shadow:     #999999;

$color-dark:             #000000;
$color-dark-dark:        #000000;
$color-dark-shadow:      #000000;